#landing-faqs{ data: { section: "faqs" } }
  .container
    .row
      .col-md-8.col-md-offset-2.landing-section-heading.text-center
        %h2.landing-lead.animate-single.faqs-animate-1= t("views.home.index.title.faqs")

  .container
    .faq-accordion.active.to-animate
      %span.faq-accordion-icon-toggle.active
        %i.icon-arrow-down
      %h3= t("views.home.index.content.faq_1.question")
      .faq-body{style: "display: block;"}
        %p= t("views.home.index.content.faq_1.answer")

    .faq-accordion.to-animate
      %span.faq-accordion-icon-toggle.active
        %i.icon-arrow-down
      %h3= t("views.home.index.content.faq_2.question")
      .faq-body
        %p= t("views.home.index.content.faq_2.answer")

    .faq-accordion.to-animate
      %span.faq-accordion-icon-toggle.active
        %i.icon-arrow-down
      %h3= t("views.home.index.content.faq_3.question")
      .faq-body
        %p= t("views.home.index.content.faq_3.answer")

    .faq-accordion.to-animate
      %span.faq-accordion-icon-toggle.active
        %i.icon-arrow-down
      %h3= t("views.home.index.content.faq_4.question")
      .faq-body
        %p= t("views.home.index.content.faq_4.answer")

    .faq-accordion.to-animate
      %span.faq-accordion-icon-toggle.active
        %i.icon-arrow-down
      %h3= t("views.home.index.content.faq_5.question")
      .faq-body
        %p= t("views.home.index.content.faq_5.answer")
