%p.landing-social-icons
  = link_to "#twitter" do
    = fa_icon "twitter"
  = link_to "#facebook" do
    = fa_icon "facebook"
  = link_to "#googe-plus" do
    = fa_icon "google-plus"
  = link_to "#youtube" do
    = fa_icon "youtube"
