%p.landing-social-icons
  = link_to 'https://twitter.com/influyentes_org', target: '_blank' do
    = fa_icon 'twitter'
  = link_to 'https://www.facebook.com/influyentes.org/?ref=landing',
    target: '_blank' do
    = fa_icon 'facebook'
  = link_to 'https://plus.google.com/114403020614967247751', target: '_blank' do
    = fa_icon 'google-plus'
  = link_to 'https://www.youtube.com/channel/UCZ638mr8RmEKQbb0tFsL0eg',
    target: '_blank' do
    = fa_icon 'youtube'
